<div id="<%= dom_id pokemon_card %>">

  <p>
    <a href="/pokemon_cards/<%= pokemon_card.id%>"><img src="<%= pokemon_card.image %> " alt='card image' ></a>
  </p>

  <p>
     <a href="/pokemon_cards/<%= pokemon_card.id%>"><%= pokemon_card.name%></a>
  </p>
</div>
