<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/pokemon_collector/app/assets/stylesheets/pokemon_cards_styles.css">

</head>
<body>

<h1>Pokemon cards</h1>
<%= render "layouts/navbar" %>

<%= form_with(url: '/pokemon_cards', method: :get, local: true) do %>
        <div >
            <div >
              <%= text_field_tag(:keywords, nil, placeholder: 'Searching for Pokemon') %>
            </div>
            <div class="control">
              <%= submit_tag("Search") %>
            </div>
          </div>
          <% end %>

<div class="section-pokemon_cards">
  <div class="container">
    <div class="card-flexbox">
      <% @pokemon_cards.each do |pokemon_card| %>
        <%= render pokemon_card%>

      <% end %>
      <%= paginate @pokemon_cards%>
    </div>

  </div>
</div>

<%= link_to "New pokemon card", new_pokemon_card_path %>
</body>
</html>