<%= render "layouts/navbar" %>

<div class="container">
  <h2> <%= @pokemon_card.name%> </h2>

  <p>
    <img src=<%= @pokemon_card.image %> alt='card image'>
  </p>

  <p>
    <%= @pokemon_card.card_number%>
  </p>

  <p>
    <%= @pokemon_card.card_type%>
  </p>
  <P>
    <%= @pokemon_card.rarity%>
  </P>
  <p>
    <%= @pokemon_card.edition%>
  </p>
  <p>
    $<%= @pokemon_card.price%>
  </p>


    <%= @pokemon_sets.each do |pokemon_set|%>
      <% if pokemon_set.id == @pokemon_card.pokemon_set_id%>
        <p><%= pokemon_set.name%></p>
        <% break %>
      <% end %>
    <% end %>
  </div>


<div class="container">
  <%= link_to "Edit this pokemon card", edit_pokemon_card_path(@pokemon_card) %> |
  <%= link_to "Back to pokemon cards", pokemon_cards_path %>
</div>
